
.*mp4
.*webm
.*avi
*.record

Pretrained 2/models
Pretrained/model/models
Pretrained/Code/custom data/Tel Aviv, Israel - Driving Tour 4K.mp4
Pretrained/Code/custom data/
Pretrained/Code/models
Pretrained 2/Dataset/Video/Raanana.webm
Pretrained 2/Results/Video/output1.avi
